
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="text-center">
    <p>We're going to have a party!</p>

    <img src="~/Content/images.jpg" />
    <br />
    <p>And you're invited</p>
    <div class="btn btn-success">
        @Html.ActionLink("RSVP Now", "RsvpForm")
    </div>
</div>